.work-container {
  padding: 0 10px;

  .companies-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0 auto;

    .company {
      font-size: 20px;
      color: var(--color-text-dark);
      opacity: 0.7;
      font-weight: 300;

      &:last-of-type {
        padding-right: 0;
        border-right: none;
      }

      &:hover {
        opacity: 1;
        color: var(--color-text);
        cursor: pointer;
      }

      &.selected {
        color: var(--color-text);
        opacity: 1;
        font-size: 26px;
        font-weight: 500;
        border-bottom: 1px solid #a385ff;
      }
    }

    .company-seperator {
      opacity: 0.7;
      width: 1px;
      height: 30px;
      border-right: 1px solid var(--color-text-dark);
    }
  }

  .more-details {
    text-align: center;
    font-size: 15px;
    color: var(--color-text-dark);
    font-style: italic;
    text-transform: none;
    margin-top: 15px;
    opacity: 0.8;
    font-weight: 200;
    margin-bottom: 34px;
  }

  .company-work-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .company-work-paragraph {
    font-size: 19px;
    font-weight: 300;
    width: 95%;
    max-width: 500px;
    margin: 0px auto 30px;
    text-align: center;
  }

  .company-work-images {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    img {
      height: 250px;
      border-radius: 6px;
      box-shadow: 3px 3px 6px #00000070;
      z-index: 1;
    }
    img:last-of-type {
      margin-left: -40px;
      margin-top: 20px;
      z-index: 0;
    }
  }
}
