.skills-row {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .outer-skill {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }

    @media only screen and (max-width: 600px) {
      width: 85px;
      height: 85px;
      margin-right: 25px;
    }

    @media only screen and (max-width: 450px) {
      width: 75px;
      height: 75px;
      margin-right: 10px;
    }

    .inner-skill {
      border-radius: 50%;
      width: 90px;
      height: 90px;
      border: 1px solid var(--color-text-dark);

      @media only screen and (max-width: 600px) {
        width: 77px;
        height: 77px;
      }
      @media only screen and (max-width: 450px) {
        width: 67px;
        height: 67px;
      }

      .skill {
        height: 99%;
        font-size: 19px;
        display: flex;
        color: var(--color-text);
        font-weight: 300;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.4px;
        line-height: 22px;

        @media only screen and (max-width: 600px) {
          font-size: 17px;
          line-height: 20px;
        }

        @media only screen and (max-width: 450px) {
          letter-spacing: -0.5px;
          line-height: 17px;
          font-size: 16px;
        }
      }
    }
  }
}
