.page-content-container {
  margin-top: 15px;
  .page-content-entry {
    margin-bottom: 50px;

    .page-content-title {
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .page-content-paragraph {
      font-size: 19px;
      font-weight: 300;
      width: 100%;
      max-width: 600px;
      margin: 0px auto 30px;
      text-align: center;
    }

    .page-content-images {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      img {
        height: 220px;
        border-radius: 10px;
        box-shadow: 3px 3px 6px #00000070;
        border: 2px solid #1a1e45;
        z-index: 1;
      }
      img:last-of-type {
        margin-left: -40px;
        margin-top: 20px;
        z-index: 0;
      }
    }

    .page-content-images-reverse {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      img {
        height: 220px;
        border-radius: 10px;
        box-shadow: 3px -3px 6px #00000070;
        border: 2px solid #1a1e45;
        z-index: 0;
      }
      img:first-of-type {
        margin-right: -40px;
        margin-top: 20px;
        z-index: 1;
      }
    }

    .project-details-heading {
      font-size: 26px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 400;
    }

    .project-details {
      display: list-item;
      font-size: 20px;
      font-weight: 300;
      margin: 0 auto;
      width: 90%;
      min-width: 340px;
      margin-bottom: 5px;
    }
  }
}
