.page-content-container {
  margin-top: 15px;

  .page-content-entry {
    margin-bottom: 50px;

    .page-content-title {
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;

      @media only screen and (max-width: 420px) {
        font-size: 21px;
      }
    }

    .page-content-paragraph {
      font-size: 19px;
      font-weight: 300;
      width: 100%;
      max-width: 600px;
      margin: 0px auto 30px;
      text-align: center;

      @media only screen and (max-width: 420px) {
        font-size: 18px;
      }
    }

    .page-content-images {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      img {
        width: 350px;
        height: auto;
        border-radius: 10px;
        box-shadow: 3px 3px 6px #00000070;
        border: 2px solid #1a1e45;
        z-index: 1;

        @media only screen and (max-width: 700px) {
          width: 310px;
        }
        @media only screen and (max-width: 600px) {
          width: 280px;
        }
        @media only screen and (max-width: 550px) {
          width: 250px;
        }
        @media only screen and (max-width: 500px) {
          width: 230px;
        }
        @media only screen and (max-width: 450px) {
          width: 200px;
        }
        @media only screen and (max-width: 400px) {
          width: 180px;
        }
      }
      img:last-of-type {
        margin-left: -40px;
        margin-top: 20px;
        z-index: 0;
      }
    }

    .page-content-images-reverse {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      img {
        width: 350px;
        height: auto;
        border-radius: 10px;
        box-shadow: 3px -3px 6px #00000070;
        border: 2px solid #1a1e45;
        z-index: 0;

        @media only screen and (max-width: 700px) {
          width: 310px;
        }
        @media only screen and (max-width: 600px) {
          width: 280px;
        }
        @media only screen and (max-width: 550px) {
          width: 250px;
        }
        @media only screen and (max-width: 500px) {
          width: 230px;
        }
        @media only screen and (max-width: 450px) {
          width: 200px;
        }
        @media only screen and (max-width: 400px) {
          width: 180px;
        }
      }
      img:first-of-type {
        margin-right: -40px;
        margin-top: 20px;
        z-index: 1;
      }
    }

    .project-details-heading {
      font-size: 26px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 400;
      @media only screen and (max-width: 420px) {
        font-size: 23px;
      }
    }

    .project-details {
      display: list-item;
      font-size: 20px;
      font-weight: 300;
      margin: 0 auto;
      width: 90%;
      min-width: 320px;
      margin-bottom: 5px;

      @media only screen and (max-width: 420px) {
        font-size: 18px;
      }
    }
  }
}
